{
  "hooks": {
    "pre-commint": "lint-staged",
    "commit-msg": "commitlint -e $HUSKY_GIT_PARAMS",
    "post-commit": "git update-index --again"
  },
  "lint-staged": {
    "src/**/*.{ts,js}": [
      "eslint --ext .js,.ts --fix --quite src/",
      "prettier --write"
    ]
  }
}
